[Unit]
Description=Terminal-specific emacs daemon
After=default.target

[Service]
ExecStart=/usr/bin/emacs -nw --fg-daemon
Restart=always

[Install]
WantedBy=default.target
