[user]
	name = Alex Birdsall
	email = ambirdsall@gmail.com
[alias]
	c = "!_f(){ [ $# -gt 0 ] && git commit -m \"$*\" || git commit -v; };_f"
	co = checkout
	d = diff
	dc = diff --cached
	p = add -p
	l = log --oneline
	latest = "!git reflog | grep checkout: | awk '{print $6}' | awk '!H[$0]++'"
	shove = push --force-with-lease
	l = log --oneline
	extend = commit --amend --reuse-message=HEAD
[rerere]
	enabled = true
[github]
	user = ambirdsall
[init]
	defaultBranch = main
[pull]
	rebase = true
