(defcfg
  linux-dev /dev/input/by-path/platform-39b10c000.spi-cs-0-event-kbd)

(defsrc
  caps lsft rsft lalt ralt lmeta rmeta)

(deflayer qwerty
  @cap @lshft @rshft lmeta rmeta lalt ralt)

(defalias
  cap   (tap-hold-press 200 200 esc lctl)
  lshft (tap-hold-press 100 100 S-9 lsft)
  rshft (tap-hold-press 100 100 S-0 rsft))
